@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.homepage{
    margin: 0;
    padding: 0;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    padding: 15px 30px;
}
.intro_container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/home_bg.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}
.intro_container .intro_container_inner{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro_container .intro_container_inner h1{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 52px;
    width: 350px;
    line-height: 1.2em;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.intro_container .intro_container_inner p{
    color: #fff;
    width: 700px;
    font-size: 16px;
    border-left: 5px solid #EF1514;
    padding-left: 10px;
    margin: 20px 0 30px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-weight: 500;
    box-sizing: border-box;
}
.intro_container .intro_container_inner button{
    display: flex;
    align-items: center;
    background-color: #EF1514;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: capitalize;
    animation: 1.1s ease-out 0s 1 slideInFromLeft;
}
.intro_container .intro_container_inner button:hover{
    background-color: #ad0f0f;
}
.intro_container .intro_container_inner .rightarrowIcon{
    width: 25px;
    height: 20px;
}
.features{
    width: 100%;
    padding: 60px 0px;
    /* border-bottom: 1px solid #acacac; */
}
.features .inner_features{
    width: 90%;
    margin: 0 auto;
}
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.features .inner_features .features_heading{ 
    /* padding-left: 10px; */
    /* border-bottom: 1px solid#EF1514; */
    position: relative;
    margin-top: 20px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    animation: 1s ease-in slideInFromTop;
}
.features .inner_features .features_heading::after{
    content: " ";
    background-color: #EF1514;
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    width: 25px;
}
.features .inner_features .inner_features_intro{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.features .inner_features .inner_features_intro h1{
    width: 37%;

}
.features .inner_features .inner_features_intro p{
    width: 63%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.features .inner_features .inner_feature_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features .inner_features .inner_feature_content .feature_container{
    width: 49%;
    padding: 0px; 
    box-sizing: border-box;
    margin-bottom: 30px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: 0;
    transition: top ease 0.7s;
    box-shadow: 0px 1px 5px 2px rgba(172,172,172,0.48);
    -webkit-box-shadow: 0px 1px 5px 2px rgba(172,172,172,0.48);
    -moz-box-shadow: 0px 1px 5px 2px rgba(172,172,172,0.48);
}
.features .inner_features .inner_feature_content .feature_container:hover{
    box-shadow: 0px 5px 7px 5px rgba(172,172,172,0.48);
    -webkit-box-shadow: 0px 5px 7px 5px rgba(172,172,172,0.48);
    -moz-box-shadow: 0px 5px 5px 7px rgba(172,172,172,0.48);
    top: -10px;
}
.features .inner_features .inner_feature_content div .topic_holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #acacac;
}
.features .inner_features .inner_feature_content div .topic_holder .image_container{
    width: 15%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
.features .inner_features .inner_feature_content div .topic_holder h2{
    width: 85%;
    height: 100%;
    text-align: end;
    padding-right: 10px;
    border-left: none;
    border-right: 5px solid #EF1514;
    font-family: 'Poppins', sans-serif;
}
.features .inner_features .inner_feature_content div p{
    padding: 10px 20px;
    color: #2f3239;
    font-weight: 500;
    font-size: 15px;
}
.features .inner_features .inner_feature_content div .features_button{
    border: none;
    background-color: #EF1514;
    outline: none;
    font-size: 12px !important;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 20px 20px 0px;
    float: right;
    /* font-weight: 500; */
    margin-right: 20px;
    display: none;
}
.features .inner_features .inner_feature_content div .features_button:hover{
    background-color: #ad0f0f;
}
.about{
    width: 100%;
    padding: 50px 0px 30px;
    /* background-color: #f4f3ef; */
}
.about .inner_about{
    width: 90%;
    margin: 0 auto;
}
.about .inner_about .about_top .about_heading{
    display: flex;
}
.about .inner_about .about_top h2{
    color: #EF1514;
    margin-top: 0px;
}
.about .inner_about .about_top .about_image_container{
    height: 450px;
    width: 650px;
    position: relative;
}
.about .inner_about .about_top .about_image_container img{
    height: 100%;
}
.about .inner_about .about_top .about_image_container::before{
    content: " ";
    background-color: #EF1514;
    position:absolute;
    top: -2%;
    right: -3%;
    z-index: -2;
    /* transform: translate(-50%, 50%); */
    height: 10px;
    width: 200px;
    border-radius: 2px;
}
.about .inner_about .about_top .about_image_container::after{
    content: " ";
    background-color: #EF1514;
    position:absolute;
    top: -2%;
    right: -3%;
    z-index: -2;
    /* transform: translate(-50%, 50%); */
    height: 200px;
    width: 10px;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
.about .inner_about .about_top .about_text_container{
    padding-left: 50px;
    text-align: left;
}
.about .inner_about .about_top .about_text_container h1{
    margin-top: 0px;
}
.about .inner_about .about_top .about_text_container p{
    line-height: 28px;
    font-size: 16px;
    margin: 5px 0px;
}
.about .inner_about .about_top .about_text_container ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 0px;
    padding: 0;
}
.about .inner_about .about_top .about_text_container ol li {
    counter-increment: my-awesome-counter;
    display: flex;
    max-width: 48%;
    color: #2f3239;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .inner_about .about_top .about_text_container ol li::before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    /* color: #000; */
    font-size: 18px;
    margin-top: -5px;
    margin-right: 10px;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
}
.about .inner_about .about_top .about_text_container button{
    display: flex;
    align-items: center;
    background-color: #EF1514;
    color: #fff;
    margin-top: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: capitalize;
}
.about .inner_about .about_top .about_text_container button:hover{
    background-color: #ad0f0f;
}
.partners{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    background-color: #f1f1f1;
}
.partners .partner_container{
    width: 90%;
    margin: 0 auto;
}
.partners .partner_container h2{
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
    position: relative;
}
.partners .partner_container h2::before{
    content: " ";
    background-color: #EF1514;
    position:absolute;
    top: 49%;
    left: -10%;
    height: 5px;
    width: 50px;
    border-radius: 2px;
}
.partners .partner_container h2::after{
    content: " ";
    background-color: #EF1514;
    position:absolute;
    top: 49%;
    right: -10%;
    height: 5px;
    width: 50px;
    border-radius: 2px;
}
blockquote {
	font-weight: 100;
	font-size: 32px;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 10px auto;
	padding: 5px;
    text-align: center;
}
blockquote:before,
blockquote:after {
	position: absolute;
	color: #2f3239;
	font-size: 68px;
	width: 4rem;
	height: 4rem;
    font-family: sans-serif;
}
blockquote:before {
	content: '“';
	left: -2rem;
	top: -1.5rem;
}
blockquote:after {
	content: '”';
	right: -2rem;
	bottom: 0.5rem;
}
.partners .button_container button{
    display: flex;
    align-items: center;
    background-color: #EF1514;
    color: #fff;
    margin-top: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 auto;
    margin-top: 50px;
}
.partners .button_container button:hover{
    background-color: #ad0f0f;
}
.home_projects{
    padding: 50px 0px 100px;
    margin: 0px;
}
.home_projects_container{
    width: 90%;
    margin: 0 auto;
}
.home_projects .home_projects_container .home_project_top_container .home_project_inner_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}.home_projects .home_projects_container h2{
    margin: 5px 0px;
    /* padding-left: 5px; */
    /* border-left: 5px solid #EF1514; */
    color: #EF1514;
}
.home_projects .home_projects_container .home_project_top_container h1{
    margin: 0px;
}
.home_projects .home_projects_container .home_project_top_container button{
    display: flex;
    align-items: center;
    background-color: #EF1514;
    color: #fff;
    margin-top: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: capitalize;
}
.home_projects .home_projects_container .home_project_top_container button:hover{
    background-color: #ad0f0f;
}
.home_projects .home_projects_container .home_project_top_container .home_project_inner_container h1{
    margin: 0px;
}
.home_projects .home_projects_container .home_project_top_container .home_project_inner_container p{
    width: 70%;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 28px;
}
.home_projects .home_project_inner_container{
    margin-bottom: 20px;
}
.home_projects .home_projects_gallery .home_project_gallery_bottom{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
.home_project_gallery_bottom .image_container{
    width: 49%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.home_project_gallery_bottom .image_container .project_image{
    width: 100%;
    height: 330px;
    filter: brightness(0.7);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.home_project_gallery_bottom .image_container .main_container{ 
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    background-color: #2f3239;
    border-left: 5px solid #EF1514;
}
.home_project_gallery_bottom .image_container .main_container h4{
    color: #EF1514; 
    margin: 5px 0px;
}
.home_project_gallery_bottom .image_container .project_details{
    margin: 0px;
    color: #fff;
    font-size: 12px;
    display: -webkit-box;   
   -webkit-line-clamp: 2;   
   -webkit-box-orient: vertical;     
    overflow: hidden; 
}
.home_project_gallery_bottom .image_container .date_container{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}
.home_project_gallery_bottom .image_container .date_container img{
    height: 20px;
    margin-right: 10px;
}
.home_project_gallery_bottom .image_container .main_container span{
    color: #EF1514;
    display: flex;
    align-items: center;
}
.home_project_gallery_bottom .image_container .main_container span p{
    margin: 3px 0px;
    font-weight: 600;
    font-size: 12px;
    color: #ad0f0f;
}
.home_project_gallery_bottom .image_container:hover .main_container{
    border-left: 5px solid #ad0f0f;
}
.home_projects .home_projects_gallery .image_container:hover .project_image{
    filter: brightness(0.5);
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.home_projects .home_projects_gallery .image_container:hover .date_container{
    color: #acacac;
}
.home_projects .home_projects_gallery .image_container:hover h4{
    color: #ad0f0f;
}
.home_projects .home_projects_gallery .image_container:hover span p{
    color: #EF1514;
}
.home_projects .home_projects_gallery .image_container:hover .project_details{
    color: #acacac;
}
/* .home_project_gallery_bottom .image_container .main_container span p:hover{
    color: #ad0f0f;
} */
@media only screen and (max-width: 1000px) {
    .about .inner_about .about_top .about_heading{
        align-items: center;
    }
    .about .inner_about .about_top .about_image_container{
        height: 420px;
    }
    .about .inner_about .about_top .about_text_container{
        padding-left: 40px;
    }
    .reasons_paragraph,
    .about .inner_about .about_top .about_text_container ol{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .intro_container .intro_container_inner h1{
        font-size: 46px;
        width: 300px;
    }
    .intro_container .intro_container_inner p{
        font-size: 14px;
        width: 480px;
    }
    .homepage h2{
        font-size: 20px;
    }
    .homepage h1{
        font-size: 28px;
        margin: 13px 0px;
    }
    .features .inner_features .inner_features_intro{
        display: block;
        text-align: center;
    }
    .features .inner_features .inner_features_intro h1{
        width: 100%;
    }
    .features .inner_features .inner_features_intro p{
        width: 100%;
        font-size: 14px;
        margin: 0;
    }
    .features .inner_features .inner_feature_content div .topic_holder h2{
        font-size: 18px;
    }
    .features .inner_features .inner_feature_content .feature_container img{
        width: 48px;
    }
    .features .inner_features .inner_feature_content div p{
        font-size: 13px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        display: -webkit-box;   
        -webkit-line-clamp: 4;   
        -webkit-box-orient: vertical;     
        overflow: hidden;

    }
    .features .inner_features .inner_feature_content div .features_button{
        display: block;
    }
    .features .inner_features .inner_feature_content p .lower_feature_info{
        display: none !important;
    }
    .features .inner_features .inner_feature_content .feature_container{
        margin-bottom: 20px;
    }
    .features{
        padding-bottom: 30px;
    }
    .features .inner_features .inner_feature_content .feature_container:hover{
        top: -5px;
    }
    .about{
        padding-top: 30px;
    }
    /* .about .inner_about .about_top .about_image_container{
        height: 400px;
    } */
    .about .inner_about .about_top .about_text_container p{
        margin-top: 0;
        font-size: 14px;
    }
    .about .inner_about .about_top .about_text_container .reasons_paragraph{
        display: none;
    }
    .about .inner_about .about_top .about_text_container ol{
        display: none;
    }
    blockquote{
        font-size: 24px;
    }
    blockquote p{
        width: 400px;
        margin: 15px auto;
    }
    blockquote:before{
        top: -0.5rem;
        left: 1rem;
    }
    blockquote:after {
        bottom: -1rem;
        right: 1rem;
    }
    blockquote:before, blockquote:after{
        font-size: 46px;
    }
    .partners .button_container button{
        margin-top: 40px;
    }
    .partners{
        padding: 30px 0px 50px;
        margin-top: 40px;
        box-sizing: border-box;
    }
    .home_projects .home_projects_container 
    .home_project_top_container .home_project_inner_container p{
        font-size: 14px;
    }
    .home_projects{
        padding: 30px 0 50px;
    }
    .home_project_gallery_bottom .image_container .date_container{
        font-size: 10px;
    }
    .home_project_gallery_bottom .image_container .main_container h4{
        font-size: 15px;
    }

    .home_project_gallery_bottom .image_container .project_image{
        transform: scale(1.7, 1);
        height: 300px;
    }
    .home_projects .home_projects_gallery .image_container:hover .project_image{
        filter: brightness(0.5);
        transform: scale(1.9, 1.1);
    }
}
@media only screen and (max-width: 500px) {
    button{
        padding: 15px 20px;
        font-size: 14px !important;
    }
    .intro_container{
        height: 90vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/home_bg_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        box-sizing: border-box;
    }
    .intro_container .intro_container_inner{
        /* top: 0; */
        bottom: -25%;
    }
    .intro_container .intro_container_inner h1{
        font-size: 34px;
        width: 100%;
    }
    .intro_container .intro_container_inner p{
        width: 100%;
        font-size: 12px;
    }
    .features{
        padding-top: 30px;
    }
    .homepage h1{
        font-size: 20px;
    }
    .homepage h2{
        font-size: 18px;
    }
    .features .inner_features .inner_feature_content .feature_container{
        width: 100%;
    }
    .about .inner_about .about_top .about_heading{
        display: block;
    }
    .about .inner_about .about_top .about_text_container{
        padding-left: 0;
    }
    .about .inner_about .about_top .about_image_container{
        height: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
    .about .inner_about .about_top .about_image_container img{
        width: 100%;
        content: url('/src/images/about_background_unsplash_mobile.jpg');
    }
    .about .inner_about .about_top .about_image_container::before{
        top: -2.5%;
        width: 150px;
        height: 15px;
        right: -2%;
    }
    .about .inner_about .about_top .about_image_container::after{
        right: -2%;
        height: 135px;
        width: 20px;
    }
    .partners .partner_container h2::after, .partners .partner_container h2::before{
        width: 35px;
    }
    .partners .partner_container h2{
        width: 140px;
    }
    blockquote p{
        width: 100%;
        font-size: 18px;
    }
    blockquote:before, blockquote:after{
        font-size: 42px;
    }
    blockquote:before{
        left: -1rem;
    }
    blockquote:after{
        bottom: -2rem;
    }
    .home_projects .home_projects_container 
    .home_project_top_container .home_project_inner_container p{
        width: 100%;
    }
    .home_projects .home_projects_gallery .home_project_gallery_bottom{
        flex-wrap: wrap;
    }
    .home_project_gallery_bottom .image_container{
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }
    .home_projects .home_projects_container .home_project_top_container button{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .home_project_top_container{
        position: relative;
        padding-bottom: 50px;
    }
    .breaker{
        display: none;
    }
}