.footer{
    margin: 0px;
    padding: 0px;
    background: #2f3239;
    font-family: 'Poppins', sans-serif;
}
.footer p{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.footer_container{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
.footer .copyright_container{
    width: 100%;
    margin: 0 auto;
}
.footer .copyright_container p{
    margin: 0;
    text-align: center;
    padding: 20px 0px;
    color: #bbbbbb;
    cursor: pointer;
}
.footer .copyright_container p:hover{
    color: #fff;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* .footer_top .footer_link_container{
    
} */
.footer .socials{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 15px;
}
.footer_link_container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_link_container li{
    padding-bottom: 10px;
}
.footer_link_container ul a{
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 600;
}
.footer_link_container ul a:hover{
    color: #fff;
}
.footer .news_letter_container h3{
    margin: 5px 0px 10px;
    color: #fff;
}
.footer .news_letter_container p{
    margin: 5px 0px 10px;
    color: #bbbbbb;
}
.footer .news_letter_container form{
    display: flex;
    align-items: center;
}
.footer .news_letter_container input{
    padding: 13px;
}
.footer .news_letter_container input[type="email"]{
    /* padding: 13px; */
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2f3239;
    border: none;
    outline: none;
    border-radius: 5px;
}
.footer .news_letter_container .submit_newsletter_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF1514;
    color: #fff;
    /* padding: 13px; */
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: capitalize;
    /* animation: 1.1s ease-out 0s 1 slideInFromLeft; */
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 5px; */
    border-radius: 5px;
}
.footer .news_letter_container .submit_newsletter_button:hover{
    background-color: #ad0f0f;
}
.footer .socials div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 3px;
    text-align: center;
    background: #000;
    border-radius: 5px;
    cursor: pointer;
}
.footer .socials div:hover{
    background: #EF1514;
}
.footer .socials div img{
    height: 20px;
    width: 20px;
}
.footer .socials div .smallericon{
    height: 24px;
    width: 24px;
}
@media only screen and (max-width: 768px) {
    .footer_container{
        padding-top: 30px;
    }
    .footer_logo_container img{
        width: 150px;
    }
    .footer .news_letter_container h3{
        font-size: 18px;
    }
    /* .footer .news_letter_container p{
        font-size: 12px;
    } */
    .footer .news_letter_container input{
        padding: 10px;
    }
    .footer .news_letter_container input[type="email"]{
        font-size: 14px;
        /* padding: 10px; */
        margin-right: 5px;
    }
    .footer .news_letter_container .submit_newsletter_button{
        font-size: 14px;
        /* padding: 10px !important; */
    }
    .footer .footer_link_container p{
        margin: 0px 0px 10px;
    }
    .footer .socials{
        margin-top: 10px;
    }
    .footer .socials div{
        width: 25px;
        height: 25px;
    }
    .footer .socials div img{
        width: 18px;
        height: 18px;
    }
    .footer .copyright_container p{
        font-size: 12px;
        padding: 15px 0px;
    }
}
@media only screen and (max-width: 600px){
    .footer_top{
        flex-wrap: wrap;
    }
    .footer_logo_container img{
        display: none;
    }
    .footer .news_letter_container p{
        font-size: 12px;
    }
    .footer_link_container{
        margin: 15px auto 0px;
        text-align: center;
    }
    .footer .news_letter_container form{
        max-width: 290px;
        display: flex;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .footer .news_letter_container input[type="email"]{
        width: 70%;
        height: 41px !important;
        box-sizing: border-box;
    }
    .footer .news_letter_container .submit_newsletter_button{
        width: 30%;
        height: 41px !important;
        box-sizing: border-box;
        text-align: center;
        border-radius: 0%;
    }
}